<!--<div class="background-image">
  <div class="body-container">-->
  <h1>Wellness Center</h1><br/><br/>
  <!--<div class="container">
    <nav>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a><br/><br/>
      </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a><br/><br/>
        </li>
      </ul>
    </nav>
  </div>-->
  <!--<div>-->
  <div>
    <router-outlet></router-outlet>
  </div>
  <!--</div>-->
  <!--</div>
  </div>-->