<h1>This is a Product page </h1>
<button class="btn btn-success" (click)="enableLaptopFlag()">Laptop Data</button>
<br/>
<div *ngIf="bDisplayLaptopData == true">
    <br/>
    <table class="table table-hover table-bordered">
      <thead>
        <th>Laptop ID</th>
        <th>Laptop Name</th>
        <th>Description</th>
        <th>cost</th>
      </thead>
      <tbody>
        <tr *ngFor="let laptop of laptoplist">
            <td>{{laptop.product_id}}</td>
        <td>{{laptop.product_name}}</td>
        <td>{{laptop.description}}</td>
        <td>{{laptop.cost}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
<img src="laptop1.jpeg" height="200px" width="200px"/>
<img src="laptop2.jpeg" height="200px" width="200px"/>
<img src="laptop3.jpeg" height="200px" width="200px"/>