<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p, button, input{
           font-size: 30px;
        }
        h1{ font-size: 50px; }
    </style>
</head>
<body>
<h1 align="center">Add Data</h1>
<form style="border: 2px solid black; padding:10px" action="" method="post">
    <p>Employee id : <input type="integer" name="employee_id"/></p>
    <p>Name : <input type="text" name="name"/></p>
    <p>Age : <input type="integer" name="age"/></p>
    <p>Position : <input type="text" name="position"/></p>
    <button type="submit">Submit</button>
</form>
</body>
</html>
