<div class="outer">
<div class="register-container">
    <div class="register-content">
        <div class="register-form">
    <h2>Register</h2>
    <form #registerForm="ngForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="username"> Username : </label>
            <input type="text" id="username" class="form-control" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
            <label for="firstname"> Firstname : </label>
            <input type="text" id="firstname" class="form-control" name="firstname" [(ngModel)]="firstname" required>
        </div>
        <div class="form-group"> 
            <label for="lastname"> Lastname : </label>
            <input type="text" id="lastname" class="form-control" name="lastname" [(ngModel)]="lastname" required>
        </div>
        <div class="form-group">
            <label for="emailid">Email id : </label>
            <input type="text" id="emailid" class="form-control" name="emailid" [(ngModel)]="emailid" required>
        </div>
        <div class="form-group">
            <label for="password">Password : </label>
            <input type="text" id="password" class="form-control" name="password" [(ngModel)]="password" required>
        </div>
        <button class="btn btn-success"  type="submit">Register</button><br/><br/>
    </form>
    <p>Already have an account<a routerLink="/login" class="link">Login</a></p>
</div>
</div>
</div>
</div>
